<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    
    <link rel="icon" href="/images/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
    <div class='main-content'>
    {{>header}} 
    <p>Enter the location and hit the submit button.</p>
    <p>Try providing detailed address for better accuracy.</p>
    <p>Visit mapbox and darksky to know about API used</p>
    </div>
    {{>footer}}
</body>

</html>